---
import Container from '../components/astro/Container.astro';
import DataTableBlock from '../components/astro/DataTableBlock.astro';
import Text from '../components/astro/Text.astro';
---

<div class="generated-layout">
<Container backgroundColor="transparent" padding={0} display="flex" flexDirection="column" alignItems="flex-start" justifyContent="flex-start" gap={16} marginTop={0} marginBottom={0} marginLeft={0} marginRight={0} shadow="none" borderRadius={0} borderColor="#e5e7eb" borderWidth={0} isFullWidth={false} maxWidth={1000} height="auto" minHeight={200} actionId="" className="h-full min-h-[1000px] bg-white">
  <DataTableBlock datasourceId="ds_1770835394373" tableId="attributes" rowsPerPage={5} enableCreate={true} enableEdit={true} enableDelete={true} visibleColumns="" excludedColumns="col1" filters={[]} headerBgColor="" headerTextColor="" bodyBgColor="" bodyTextColor="" fontFamily="" onInsert="" onUpdate="" onDelete="" marginTop={20} marginBottom={20} marginLeft={0} marginRight={0} shadow="sm" borderRadius={12} />
  <Container backgroundColor="transparent" padding={40} display="flex" flexDirection="column" alignItems="flex-start" justifyContent="flex-start" gap={16} marginTop={0} marginBottom={0} marginLeft={0} marginRight={0} shadow="none" borderRadius={0} borderColor="#e5e7eb" borderWidth={0} isFullWidth={false} maxWidth={1000} height="auto" minHeight={200} actionId="">
    <Text text="Arrastra más contenido aquí..." fontSize={14} textAlign="center" color="#9ca3af" fontWeight="normal" marginTop={0} marginBottom={0} marginLeft={0} marginRight={0} shadow="none" actionId="" />
  </Container>
  <DataTableBlock datasourceId="ds_1770835394373" tableId="category_variables" rowsPerPage={5} enableCreate={true} enableEdit={true} enableDelete={true} visibleColumns="" excludedColumns="" filters={[]} headerBgColor="" headerTextColor="" bodyBgColor="" bodyTextColor="" fontFamily="Arial, sans-serif" onInsert="" onUpdate="" onDelete="" marginTop={20} marginBottom={20} marginLeft={0} marginRight={0} shadow="sm" borderRadius={12} />
</Container>
</div>
